html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#image {
  margin: 20px;
  position: relative;
  bottom: 5%;

  height: 105vh;
  width: 105vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

