@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes imagePulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#image {
  margin: 20px;
  position: relative;
  bottom: 5%;
}

#title {
  font-family: "Google Sans";
  font-size: 50px;
  color: black;

  z-index: 100;

  margin: auto;
  position: relative;
  text-align: center;
  top: 45vh;
}

#titleImage {
  position: relative;
  bottom: 13vh;

  height: 105vh;
  width: 105vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#scrollImg {
  position: relative;
  bottom: 30vh;
  left: 50%;

  height: 40px;
  width: 50px;

  z-index: 3;
  animation: 1s 1s ease-out forwards, imagePulse 2s 3s ease-out infinite;
}

#scrollButton {
  position: relative;
  bottom: 30vh;
  left: 45vw;
  opacity: 0;
  z-index: 1000;

  height: 55px;
  width: 75px;
}

.personalIntroduction {
  position: relative;
  bottom: 20vh;

  height: 100vh;
  background: #eaeaec;
}
