
.titleBG#image {
  z-index: 0;
  height: 1vh;
  width: 1vw;
}

html {
  overflow-x: hidden;
}

#image {
  margin: 20px;
  position: relative;
  bottom: 5%;

  height: 105vh;
  width: 105vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

